* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS ANIMATION BACKGROUND */
.context {
  width: 100%;
  position: absolute;
  top: 40vh;
  color: black;
}

.context h1 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 1rem;
}
.context h3 {
  margin: 0 auto;
  width: 60%;
  font-size: 30px;
}
.area {
  background-color: white;
  width: 100%;
  height: 100vh;
}

.circles {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgb(181, 155, 7);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }
  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

/* NAVBAR */
.navbar {
  border-bottom: 1.5px solid rgb(181, 155, 7);
}
.logo-section {
  display: flex;
  align-items: center;
}
.logo {
  width: 60px;
  border-radius: 50%;
  border: 1px solid rgb(181, 155, 7);
}

.logo-text {
  color: rgb(181, 155, 7);
  background-color: black;
  text-align: center;
  margin-left: 2rem;
  padding: 6px 15px;
  border-radius: 2rem;
}
.logo-text:hover {
  background-color: rgb(181, 155, 7);
  color: black;
  cursor: pointer;
  padding: 10px 18px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: 0;
  padding: 0 2rem;
}

.navbar ul {
  display: flex;
  list-style: none;
  margin: 20px 0px;
}

.navbar ul li {
  font-family: century;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(11, 11, 11);
  padding: 8px 25px;
  transition: all 0.5s ease;
}

.navbar ul li a:hover {
  color: rgb(181, 155, 7);
  background-color: black;
  margin: 1.5rem;
  border-radius: 2rem;
}
.nav-menu {
  z-index: 1;
}

/* HAMBURGER MENU */
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    z-index: 1;
    left: -100%;
    top: 5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .logo-text {
    display: none;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 20px 0;
  }

  .hamburger {
    margin-top: 1rem;
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar ul {
    padding: 20px;
    margin: 0;
  }
  .navbar ul li {
    padding: 5px;
  }

  .navbar ul li a:hover {
    color: rgb(181, 155, 7);
    background-color: black;
    margin: 2rem 5rem;
    border-radius: 2rem;
    cursor: pointer;
  }
  .context {
    top: 30vh;
  }
  .context h1 {
    font-size: 3rem;
  }
  .context h3 {
    font-size: 1.5rem;
    width: 70%;
  }
}
