@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
/* *****************
-----------------
NAVIGATION BAR
_________________
 ***************** */
.navbar {
  border-bottom: 1.5px solid #60bebc;
}
.logo-section {
  display: flex;
  align-items: center;
}
/* .logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #eba858;
} */

.logo-text {
  color: #eba858;
  background-color: black;
  text-align: center;
  margin-left: 2rem;
  padding: 6px 15px;
  border-radius: 1.5rem;
}
.logo-text:hover {
  background-color: #eba858;
  color: black;
  cursor: pointer;
  padding: 10px 18px;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.5);
  position: relative;
  top: 0;
  padding: 0 2rem;
  width: 100%;
}

.navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 20px 0px;
}

.navbar ul li {
  font-family: century;
  font-size: 1.1rem;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(11, 11, 11);
  padding: 8px 25px;
  transition: all 0.5s ease;
}

.navbar ul li a:hover {
  color: #eba858;
  background-color: black;
  margin: 1.5rem;
  border-radius: 2rem;
}
.nav-menu {
  z-index: 1;
}

/* *****************
-----------------
HAMBURGER MENU
_________________
 ***************** */
.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

/* *****************
-----------------
ANIMATION BACKGROUND
_________________
 ***************** */
.context {
  width: 100%;
  height: 200vh;
  position: absolute;
  color: #3c3e3d;
}

.hero-content {
  margin-top: 3rem;
  z-index: 1;
}
.name {
  color: #60bebc;
  font-weight: 800;
}

.hero-content {
  text-align: center;
}
.hero-content h1 {
  color: black;
  text-align: center;
  font-size: 60px;
  margin-bottom: 2rem;
  letter-spacing: 3px;
}
.hero-content h3 {
  margin: 0 auto;
  max-width: 80%;
  font-size: 30px;
  font-weight: 900;
  font-weight: 500;
  word-spacing: 4px;
  letter-spacing: 1px;
}
.avatar {
  margin-bottom: 2rem;
  width: 20%;
  height: 20%;
}

.area {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
}

.circles {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: #c76f0c;
  border: 2px solid #edad63;
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}
.circles li:nth-child(11) {
  left: 80%;
  width: 70px;
  height: 70px;
  animation-delay: 10s;
  animation-duration: 20s;
}
.circles li:nth-child(12) {
  left: 25%;
  width: 70px;
  height: 70px;
  animation-delay: 10s;
  animation-duration: 10s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  50% {
    opacity: 0.5;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
/* *****************
-----------------
SKILLS SECTION
_________________
 ***************** */
.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.skills {
  font-size: 3.5rem;
  margin-bottom: 4rem;
  margin-top: 10rem;
}
.skills-images img {
  width: 150px;
  height: 150px;
  margin: 0 3rem;
}
/* *****************
-----------------
PROJECT SECTION
_________________
 ***************** */

.project-container {
  /* height: 250vh; */
  text-align: center;
  margin-top: 5rem;
  padding-top: 3rem;
  font-size: 1.5rem;
  background-color: rgb(0, 0, 0);
}
.project-heading {
  text-align: center;
  margin-bottom: 5rem;
  color: whitesmoke;
  padding-top: 3rem;
}
.animate-character {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #210d68 0,
    #5835d3 15%,
    #6711c2 29%,
    #ff1361 67%,
    #eba858 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  /* font-size: 2rem; */
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}
.images-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.image {
  width: 300px;
  height: 300px;
}

.images {
  margin-bottom: 5rem;
}
.image {
  transition: 1s ease;
}
.image:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
  -ms-transform: 1cale (1.2);
  transform: scale(1.2);
  transition: 1s ease;
  border-radius: 15px;
}
.tech-stack {
  font-size: 1.3rem;
}
.icons {
  margin-top: 1rem;
}
.bi {
  border-radius: 50%;
  padding: 4px;
  background-color: #f8b96d;
  opacity: 0.5;
}
.bi-eye {
  margin-right: 1.5rem;
}

.bi:hover {
  opacity: 1;
}
/* *****************
-----------------
CONTACT SECTION
_________________
 ***************** */

.icon-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
}
.icon-container > div {
  margin-bottom: 3rem;
  border-bottom: 2px solid #f8b96d;

  text-align: center;
}

.container > img {
  margin-bottom: 1rem;
  transition: 3s ease;
}
.container > img:hover {
  cursor: crosshair;
  -webkit-transform: scale(1.2);
  -ms-transform: 1cale (2);
  transform: scale(2);
  transition: 3s ease;
}
.container > h3 {
  margin-bottom: 0.5rem;
}
.container > p {
  font-size: 15px;
}
.container > p:hover {
  cursor: pointer;
  color: #f8b96d;
  font-weight: 600;
}
.container > a {
  text-decoration: none;
  color: black;
}
.container > a:hover {
  color: #f8b96d;
  font-weight: 600;
}
.contact-text {
  font-size: 3rem;
}
.contact-icon {
  width: 80px;
  height: 80px;
}
.email-container > a {
  font-size: 15px;
}
/* *****************
-----------------
FOOTER SECTION
_________________
 ***************** */

.footer-container {
  background-color: #eba858;
  color: black;
  font-weight: 800;
  font-size: 18px;
  padding: 2rem;
  text-align: center;
}
/* *****************
-----------------
MEDIA QUERIES
_________________
 ***************** */

@media (max-width: 1000px) {
  .nav-menu {
    opacity: 0.9;
    position: fixed;
    z-index: 2;
    left: -100%;
    top: 5rem;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 50%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }
  .logo-text {
    display: none;
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 20px 0;
  }

  .hamburger {
    margin-top: 1rem;
    display: block;
    cursor: pointer;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  .navbar ul {
    padding: 20px;
    margin: 0;
  }
  .navbar ul li {
    padding: 5px;
  }

  .navbar ul li a:hover {
    color: #eba858;
    background-color: black;
    margin: 2rem 5rem;
    border-radius: 2rem;
    cursor: pointer;
  }
  .skills {
    font-size: 2rem;
    margin-bottom: 5rem;
    margin-top: 10rem;
    /* margin-left: 3rem; */
    text-align: center;
  }
  .skills-images img {
    width: 100px;
    height: 100px;
    margin: 0 2rem;
  }
  .images-container {
    grid-template-columns: 1fr;
  }
  .images-container {
    margin-top: 5rem;
  }
  .icon-container {
    grid-template-columns: 1fr 1fr;
  }
  .area {
    height: 180vh;
  }

  @media screen and (min-width: 324px) {
    .icon-container {
      grid-template-columns: 1fr;
    }
  }
}

@media screen and (min-width: 1500px) {
  .skills {
    font-size: 5rem;
    margin-bottom: 5rem;
    margin-top: 10rem;
  }
  .skills-images img {
    width: 200px;
    height: 200px;
    margin: 0 4rem;
  }
}
